## Importação de libs e inicialização do diretorio

In [1]:
import pandas as pd
import json
import os
import pathlib

pwd = os.sep.join(os.getcwd().split(os.sep)[0:-1])
print(pwd)

C:\Users\Jessica Dias\PycharmProjects\bdnaoestruturado

## Definição dos municipios com cobertura

In [2]:
f = open(os.path.join(pwd, 'data', 'municipios.json'), encoding="utf8")
data = json.load(f)
print(data)

{'VALE DO PARAÍBA': ['APARECIDA', 'CAÇAPAVA', 'CACHOEIRA PAULISTA', 'CANAS', 'CUNHA', 'GUARATINGUETÁ', 'IGARATÁ', 'JACAREÍ', 'JAMBEIRO', 'LAGOINHA', 'LORENA', 'NATIVIDADE DA SERRA', 'PARAIBUNA', 'PINDAMONHANGABA', 'PIQUETE', 'POTIM', 'REDENÇÃO DA SERRA', 'ROSEIRA', 'SANTA BRANCA', 'SÃO JOSÉ DOS CAMPOS', 'SÃO LUÍS DO PARAITINGA', 'TAUBATÉ', 'TREMEMBÉ'], 'VALE HISTÓRICO': ['ARAPEÍ', 'AREIAS', 'BANANAL', 'CRUZEIRO', 'LAVRINHAS', 'QUELUZ', 'SÃO JOSÉ DO BARREIRO', 'SILVEIRAS'], 'LITORAL NORTE': ['ILHABELA', 'SÃO SEBASTIÃO', 'UBATUBA', 'CAMPOS DO JORDÃO', 'MONTEIRO LOBATO', 'SANTO ANTÔNIO DO PINHAL', 'SÃO BENTO DO SAPUCAÍ'], 'REGIÃO BRAGANTINA': ['BOM JESUS DOS PERDÕES', 'BRAGANÇA PAULISTA', 'JOANÓPOLIS', 'NAZARÉ PAULISTA', 'PIRACAIA', 'VARGEM']}

## Carregando os dataset

In [3]:
path_dataset = os.path.join(pwd, 'data')
eleicao_atual = pd.read_csv(os.path.join(path_dataset, 'perfil_eleitor_secao_ATUAL_SP.csv'), sep=';',
                            encoding="latin-1")
eleicao_2018 = pd.read_csv(os.path.join(path_dataset, 'perfil_eleitorado_2018.csv'), sep=';',
                           encoding="latin-1")
eleicao_2020 = pd.read_csv(os.path.join(path_dataset, 'perfil_eleitorado_2020.csv'), sep=';',
                           encoding="latin-1")
datasets = pd.concat([eleicao_atual, eleicao_2018, eleicao_2018])

## Classificaçao
Jornalista quer saber a classificação do eleitorado a partir do estado civil,
escolaridade e faixa etária, além da quantidade de eleitores que utilizam nome social

Seleção de cidades do Vale do Paraiba, Bragantino e Litoral Norte

In [8]:
vale = data.get('VALE DO PARAÍBA')
v_historico = data.get('VALE HISTÓRICO')
l_norte = data.get('LITORAL NORTE')
r_bragantina = data.get('REGIÃO BRAGANTINA')

todas_cidades = vale + v_historico + l_norte + r_bragantina
print(todas_cidades)
cidades =  datasets.loc[datasets.NM_MUNICIPIO.isin(todas_cidades)]
cidades.head(5)

['APARECIDA', 'CAÇAPAVA', 'CACHOEIRA PAULISTA', 'CANAS', 'CUNHA', 'GUARATINGUETÁ', 'IGARATÁ', 'JACAREÍ', 'JAMBEIRO', 'LAGOINHA', 'LORENA', 'NATIVIDADE DA SERRA', 'PARAIBUNA', 'PINDAMONHANGABA', 'PIQUETE', 'POTIM', 'REDENÇÃO DA SERRA', 'ROSEIRA', 'SANTA BRANCA', 'SÃO JOSÉ DOS CAMPOS', 'SÃO LUÍS DO PARAITINGA', 'TAUBATÉ', 'TREMEMBÉ', 'ARAPEÍ', 'AREIAS', 'BANANAL', 'CRUZEIRO', 'LAVRINHAS', 'QUELUZ', 'SÃO JOSÉ DO BARREIRO', 'SILVEIRAS', 'ILHABELA', 'SÃO SEBASTIÃO', 'UBATUBA', 'CAMPOS DO JORDÃO', 'MONTEIRO LOBATO', 'SANTO ANTÔNIO DO PINHAL', 'SÃO BENTO DO SAPUCAÍ', 'BOM JESUS DOS PERDÕES', 'BRAGANÇA PAULISTA', 'JOANÓPOLIS', 'NAZARÉ PAULISTA', 'PIRACAIA', 'VARGEM']

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,DS_MUN_SIT_BIOMETRIA,NR_ZONA,NR_SECAO,...,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
23147,03/04/2022,16:40:35,9999,SP,71838,TAUBATÉ,-2,Não se aplica,141,255.0,...,3,CASADO,3539,35 a 39 anos,8,SUPERIOR COMPLETO,7,7,0,0
23148,03/04/2022,16:40:35,9999,SP,71838,TAUBATÉ,-2,Não se aplica,141,255.0,...,3,CASADO,5559,55 a 59 anos,8,SUPERIOR COMPLETO,2,1,0,0
23149,03/04/2022,16:40:35,9999,SP,71838,TAUBATÉ,-2,Não se aplica,141,255.0,...,3,CASADO,8589,85 a 89 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,1,0,0,0
23150,03/04/2022,16:40:35,9999,SP,71838,TAUBATÉ,-2,Não se aplica,141,255.0,...,3,CASADO,6064,60 a 64 anos,8,SUPERIOR COMPLETO,1,1,0,0
23151,03/04/2022,16:40:35,9999,SP,71838,TAUBATÉ,-2,Não se aplica,141,255.0,...,3,CASADO,6569,65 a 69 anos,5,ENSINO MÉDIO INCOMPLETO,1,0,0,0

#### Agrupamento por genero

In [4]:
agrupamento_genero = cidades.groupby('DS_GENERO').size()
print(agrupamento_genero)
agrupamento_genero.plot.pie()

NameError: name 'cidades' is not defined

#### Agrupamento por genero